[submodule "steel-cogs/forest"]
	path = steel-cogs/forest
	url = https://github.com/Ra77a3l3-jar/forest.hx.git
[submodule "steel-cogs/notify"]
	path = steel-cogs/notify
	url = https://github.com/chuwy/notify.hx.git
[submodule "steel-cogs/glyph"]
	path = steel-cogs/glyph
	url = https://github.com/Ra77a3l3-jar/glyph.hx.git
