[user]
	name = Philpax
	email = me@philpax.me
	signingkey = /home/philpax/.ssh/id_rsa.pub
[safe]
	directory = /home/philpax/comfyui
[credential]
	helper = store
[protocol "file"]
	allow = always
[init]
	defaultBranch = main
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	hyperlinks = true
[merge]
	conflictstyle = zdiff3
[diff]
	colorMoved = default
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /home/philpax/.ssh/allowed_signers
