output "Microstep MSI MAG342CQR DB6H261C01393" {
    mode "3440x1440@144.000"
    layout {
        default-column-width { proportion 0.33333; }
    }
    position x=0 y=0
}

output "Dell Inc. DELL U2723QE F31Q0P3" {
    mode "3840x2160@60.000"
    scale 1
    transform "90"
    position x=3440 y=0

    layout {
        main-axis "vertical"
    }
}
